<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title></title>
</head>

<body>
		<div th:fragment="includeHead" id="menuContent" style="background-color:#173e65;color:#ffffff;height:100px;">
			<h1 style="margin-left: 10px;margin-top:10px;margin-bottom:10px">销售平台</h1><br/>
			<div style="margin-left: 10px;">
			<a href="listCommodities">货物管理</a>|
			<a href="listRetailer">零售商管理</a>|
			<a>购销合同</a>|
			<a>用户设置</a>
			
			</div>
		</div>
</body>
</html>
